:root{
    --eo-primary: #AB05F2;
    --eo-secondary: #36D99D;
    --eo-neutral: #F2F2F2;
    --eo-dark: #262626;
}

body{
    background-color: var(--eo-dark);
    color: var(--eo-neutral);
}

.nr-bg-secondary{
    background-color: var(--eo-secondary);
}
.nr-text-primary{
    color: var(--eo-primary);
}
.nr-text-dark{
    color: var(--eo-dark);
}
.card{
    height: 300px;
    width: 300px;
}